<div>
    <h1> {{pageTitle}} </h1>
    <label for="name">User</label>
    <input>
</div>

<agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom] = "zoom"
    (mapClick)="mapClicked($event)">
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>

    <agm-marker
        *ngFor="let marker of missionMarkers; let z = index"
        (markerClick)="clickedMarker(marker.label, z)"
        [iconUrl]="markerIconUrl()"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [label]="marker.label"
        [markerDraggable]="false"
        (dragEnd)="markerDragEnd(marker, $event)">

        <agm-info-window>
            <strong>{{marker.description}} Points: {{marker.points}}</strong>
          </agm-info-window>
    </agm-marker>


    <agm-polyline 
        *ngFor="let p of polylines" 
        [strokeColor]="'red'"
        (lineClick)="pathClicked($event)">
        <agm-polyline-point *ngFor="let m of p;"
            [latitude]="m.lat" 
            [longitude]="m.lng">
        </agm-polyline-point>
    </agm-polyline>

</agm-map>

<div class="container">
    <div class="actions">
        <path-actions 
            (locationChanged)="onLocationReceived($event)"
            (polylineActions)="onPolylineEdited($event)"
            (showDatabasePaths)="onShowPathRequest($event)">
        </path-actions>
    </div>

    <div class="paths">
        <table class='table'>
            <thead >
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>Difficulty</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody *ngFor="let path of dbPaths">
                <tr>
                    <td>{{path.name}}</td>
                    <td>{{path.type}}</td>
                    <td>{{path.difficulty}}</td>
                    <td>{{path.rating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



